src/pipeline/pl_vcapi_rest_to_adls_forecast.json
{
	"name": "pl_vcapi_rest_to_adls_forecast",
	"properties": {
		"activities": [
			{
				"name": "lookup_locations",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_adls_csv",
						"type": "DatasetReference",
						"parameters": {
							"container": {
								"value": "@pipeline().parameters.locations_container",
								"type": "Expression"
							},
							"directory": {
								"value": "@pipeline().parameters.locations_directory",
								"type": "Expression"
							},
							"file_name": {
								"value": "@pipeline().parameters.locations_file_name",
								"type": "Expression"
							},
							"sa_url": {
								"value": "@pipeline().parameters.sa_url",
								"type": "Expression"
							},
							"kv_url": {
								"value": "@pipeline().parameters.kv_url",
								"type": "Expression"
							},
							"secret_name": {
								"value": "@pipeline().parameters.storage_secret_name",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach_location",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "lookup_locations",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "get_api_key",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('lookup_locations').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "15_days_weather_forecast_copy1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "GET",
									"paginationRules": {
										"supportRFC5988": "true"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ds_restapi_forecast_json",
									"type": "DatasetReference",
									"parameters": {
										"rest_base_url": {
											"value": "@concat(pipeline().parameters.restapi_base_url,item().Prop_0,'?unitGroup=metric&key=',activity('get_api_key').output.value)",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_adls_forecast_json",
									"type": "DatasetReference",
									"parameters": {
										"sa_url": {
											"value": "@pipeline().parameters.sa_url",
											"type": "Expression"
										},
										"kv_url": {
											"value": "@pipeline().parameters.kv_url",
											"type": "Expression"
										},
										"storage_secret": {
											"value": "@pipeline().parameters.storage_secret_name",
											"type": "Expression"
										},
										"container": {
											"value": "@pipeline().parameters.landing_container",
											"type": "Expression"
										},
										"directory": {
											"value": "@item().Prop_0",
											"type": "Expression"
										},
										"file_name": {
											"value": "@concat(item().Prop_0,'_forecast_',formatDateTime(utcNow(),'yyyy-MM-dd'),'.json')",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "get_api_key",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": {
						"value": "@concat(pipeline().parameters.kv_url,'/secrets/',pipeline().parameters.api_key_secret,'?api-version=7.5')",
						"type": "Expression"
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			}
		],
		"parameters": {
			"sa_url": {
				"type": "string",
				"defaultValue": "https://weatherforecastdata.dfs.core.windows.net/"
			},
			"kv_url": {
				"type": "string",
				"defaultValue": "https://wfa-keyvault.vault.azure.net/"
			},
			"storage_secret_name": {
				"type": "string",
				"defaultValue": "weatherforecastdata-sa-key"
			},
			"restapi_base_url": {
				"type": "string",
				"defaultValue": "https://weather.visualcrossing.com/VisualCrossingWebServices/rest/services/timeline/"
			},
			"landing_container": {
				"type": "string",
				"defaultValue": "weather-forecast-landing"
			},
			"locations_container": {
				"type": "string",
				"defaultValue": "metadata-logs"
			},
			"locations_directory": {
				"type": "string",
				"defaultValue": "locations"
			},
			"locations_file_name": {
				"type": "string",
				"defaultValue": "locations_list.csv"
			},
			"api_key_secret": {
				"type": "string",
				"defaultValue": "visualcrossing-key"
			}
		},
		"variables": {
			"location": {
				"type": "String"
			}
		},
		"annotations": []
	}
}