weather-forecast-adf/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "weather-forecast-adf"
		},
		"LS_Azure_KV_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "@{linkedService().KV_BaseURL}"
		},
		"LS_rest_Visual_Crossing_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "@{linkedService().BaseURL}"
		},
		"LS_AzureDataLakeStorage_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "@{linkedService().sa_url}"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/LS_Azure_KV')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"parameters": {
					"KV_BaseURL": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('LS_Azure_KV_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_rest_Visual_Crossing')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"parameters": {
					"BaseURL": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('LS_rest_Visual_Crossing_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_restapi_json')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_rest_Visual_Crossing",
					"type": "LinkedServiceReference",
					"parameters": {
						"BaseURL": {
							"value": "@dataset().rest_base_url",
							"type": "Expression"
						}
					}
				},
				"parameters": {
					"rest_base_url": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_rest_Visual_Crossing')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_AzureDataLakeStorage')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"parameters": {
					"sa_url": {
						"type": "string"
					},
					"kv_url": {
						"type": "string"
					},
					"storage_secret_name": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('LS_AzureDataLakeStorage_properties_typeProperties_url')]",
					"accountKey": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "LS_Azure_KV",
							"type": "LinkedServiceReference",
							"parameters": {
								"KV_BaseURL": {
									"value": "@linkedService().kv_url",
									"type": "Expression"
								}
							}
						},
						"secretName": {
							"value": "@linkedService().storage_secret_name",
							"type": "Expression"
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_Azure_KV')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_adls_csv')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_AzureDataLakeStorage",
					"type": "LinkedServiceReference",
					"parameters": {
						"sa_url": {
							"value": "@dataset().sa_url",
							"type": "Expression"
						},
						"kv_url": {
							"value": "@dataset().kv_url",
							"type": "Expression"
						},
						"storage_secret_name": {
							"value": "@dataset().secret_name",
							"type": "Expression"
						}
					}
				},
				"parameters": {
					"container": {
						"type": "string"
					},
					"directory": {
						"type": "string"
					},
					"file_name": {
						"type": "string"
					},
					"sa_url": {
						"type": "string"
					},
					"kv_url": {
						"type": "string"
					},
					"secret_name": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().file_name",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().directory",
							"type": "Expression"
						},
						"fileSystem": {
							"value": "@dataset().container",
							"type": "Expression"
						}
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": false,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_AzureDataLakeStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_adls_json')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_AzureDataLakeStorage",
					"type": "LinkedServiceReference",
					"parameters": {
						"sa_url": {
							"value": "@dataset().sa_url",
							"type": "Expression"
						},
						"kv_url": {
							"value": "@dataset().kv_url",
							"type": "Expression"
						},
						"storage_secret_name": {
							"value": "@dataset().storage_secret",
							"type": "Expression"
						}
					}
				},
				"parameters": {
					"sa_url": {
						"type": "string"
					},
					"kv_url": {
						"type": "string"
					},
					"storage_secret": {
						"type": "string"
					},
					"container": {
						"type": "string"
					},
					"directory": {
						"type": "string"
					},
					"file_name": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().file_name",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().directory",
							"type": "Expression"
						},
						"fileSystem": {
							"value": "@dataset().container",
							"type": "Expression"
						}
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_AzureDataLakeStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_vcapi_rest_to_adls_daily_weather')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "lookup_locations_daily_weather",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"dataset": {
								"referenceName": "ds_adls_csv",
								"type": "DatasetReference",
								"parameters": {
									"container": {
										"value": "@pipeline().parameters.location_container",
										"type": "Expression"
									},
									"directory": {
										"value": "@pipeline().parameters.location_directory",
										"type": "Expression"
									},
									"file_name": {
										"value": "@pipeline().parameters.location_file_name",
										"type": "Expression"
									},
									"sa_url": {
										"value": "@pipeline().parameters.sa_url",
										"type": "Expression"
									},
									"kv_url": {
										"value": "@pipeline().parameters.kv_url",
										"type": "Expression"
									},
									"secret_name": {
										"value": "@pipeline().parameters.storage_secret_name",
										"type": "Expression"
									}
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach_location",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "lookup_locations_daily_weather",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "get_api_key",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('lookup_locations_daily_weather').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "copy_vcapi_adls_daily_weather",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "RestSource",
											"httpRequestTimeout": "00:01:40",
											"requestInterval": "00.00:00:00.010",
											"requestMethod": "GET",
											"paginationRules": {
												"supportRFC5988": "true"
											}
										},
										"sink": {
											"type": "JsonSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "JsonWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "ds_restapi_json",
											"type": "DatasetReference",
											"parameters": {
												"rest_base_url": {
													"value": "@concat(pipeline().parameters.vcapi_base_url,item().Prop_0,'/',formatDateTime(utcNow(),'yyyy-MM-dd'),'?unitGroup=metric&key=',activity('get_api_key').output.value)",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "ds_adls_json",
											"type": "DatasetReference",
											"parameters": {
												"sa_url": {
													"value": "@pipeline().parameters.sa_url",
													"type": "Expression"
												},
												"kv_url": {
													"value": "@pipeline().parameters.kv_url",
													"type": "Expression"
												},
												"storage_secret": {
													"value": "@pipeline().parameters.storage_secret_name",
													"type": "Expression"
												},
												"container": {
													"value": "@pipeline().parameters.landing_container",
													"type": "Expression"
												},
												"directory": {
													"value": "@concat(pipeline().parameters.landing_directory_daily_weather,'/',item().Prop_0)",
													"type": "Expression"
												},
												"file_name": {
													"value": "@concat(item().Prop_0,'_daily_weather_',formatDateTime(utcNow(),'yyyy-MM-dd'))",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					},
					{
						"name": "get_api_key",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": true,
							"secureInput": true
						},
						"userProperties": [],
						"typeProperties": {
							"method": "GET",
							"headers": {},
							"url": {
								"value": "@concat(pipeline().parameters.kv_url,'/secrets/',pipeline().parameters.vcapi_key_secret_name,'?api-version=7.5')",
								"type": "Expression"
							},
							"authentication": {
								"type": "MSI",
								"resource": "https://vault.azure.net"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"vcapi_base_url": {
						"type": "string",
						"defaultValue": "https://weather.visualcrossing.com/VisualCrossingWebServices/rest/services/timeline/"
					},
					"sa_url": {
						"type": "string",
						"defaultValue": "https://weatherforecastdata.dfs.core.windows.net/"
					},
					"kv_url": {
						"type": "string",
						"defaultValue": "https://wfa-keyvault.vault.azure.net/"
					},
					"storage_secret_name": {
						"type": "string",
						"defaultValue": "weatherforecastdata-sa-key"
					},
					"landing_container": {
						"type": "string",
						"defaultValue": "data-landing"
					},
					"landing_directory_daily_weather": {
						"type": "string",
						"defaultValue": "daily-data-landing"
					},
					"location_directory": {
						"type": "string",
						"defaultValue": "locations"
					},
					"location_container": {
						"type": "string",
						"defaultValue": "metadata-logs"
					},
					"location_file_name": {
						"type": "string",
						"defaultValue": "locations_list.csv"
					},
					"vcapi_key_secret_name": {
						"type": "string",
						"defaultValue": "visualcrossing-key"
					},
					"jobid": {
						"type": "string",
						"defaultValue": "101649598241551"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_adls_csv')]",
				"[concat(variables('factoryId'), '/datasets/ds_restapi_json')]",
				"[concat(variables('factoryId'), '/datasets/ds_adls_json')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_vcapi_rest_to_adls_forecast')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "lookup_locations",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"dataset": {
								"referenceName": "ds_adls_csv",
								"type": "DatasetReference",
								"parameters": {
									"container": {
										"value": "@pipeline().parameters.locations_container",
										"type": "Expression"
									},
									"directory": {
										"value": "@pipeline().parameters.locations_directory",
										"type": "Expression"
									},
									"file_name": {
										"value": "@pipeline().parameters.locations_file_name",
										"type": "Expression"
									},
									"sa_url": {
										"value": "@pipeline().parameters.sa_url",
										"type": "Expression"
									},
									"kv_url": {
										"value": "@pipeline().parameters.kv_url",
										"type": "Expression"
									},
									"secret_name": {
										"value": "@pipeline().parameters.storage_secret_name",
										"type": "Expression"
									}
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach_location",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "lookup_locations",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "get_api_key",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('lookup_locations').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "15_days_weather_forecast_copy1",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "RestSource",
											"httpRequestTimeout": "00:01:40",
											"requestInterval": "00.00:00:00.010",
											"requestMethod": "GET",
											"paginationRules": {
												"supportRFC5988": "true"
											}
										},
										"sink": {
											"type": "JsonSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "JsonWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "ds_restapi_json",
											"type": "DatasetReference",
											"parameters": {
												"rest_base_url": {
													"value": "@concat(pipeline().parameters.restapi_base_url,item().Prop_0,'?unitGroup=metric&key=',activity('get_api_key').output.value)",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "ds_adls_json",
											"type": "DatasetReference",
											"parameters": {
												"sa_url": {
													"value": "@pipeline().parameters.sa_url",
													"type": "Expression"
												},
												"kv_url": {
													"value": "@pipeline().parameters.kv_url",
													"type": "Expression"
												},
												"storage_secret": {
													"value": "@pipeline().parameters.storage_secret_name",
													"type": "Expression"
												},
												"container": {
													"value": "@pipeline().parameters.landing_container",
													"type": "Expression"
												},
												"directory": {
													"value": "@concat(pipeline().parameters.landing_forecast_directory,'/',item().Prop_0)",
													"type": "Expression"
												},
												"file_name": {
													"value": "@concat(item().Prop_0,'_forecast_',formatDateTime(utcNow(),'yyyy-MM-dd'),'.json')",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					},
					{
						"name": "get_api_key",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": true,
							"secureInput": true
						},
						"userProperties": [],
						"typeProperties": {
							"method": "GET",
							"headers": {},
							"url": {
								"value": "@concat(pipeline().parameters.kv_url,'/secrets/',pipeline().parameters.api_key_secret,'?api-version=7.5')",
								"type": "Expression"
							},
							"authentication": {
								"type": "MSI",
								"resource": "https://vault.azure.net"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"sa_url": {
						"type": "string",
						"defaultValue": "https://weatherforecastdata.dfs.core.windows.net/"
					},
					"kv_url": {
						"type": "string",
						"defaultValue": "https://wfa-keyvault.vault.azure.net/"
					},
					"storage_secret_name": {
						"type": "string",
						"defaultValue": "weatherforecastdata-sa-key"
					},
					"restapi_base_url": {
						"type": "string",
						"defaultValue": "https://weather.visualcrossing.com/VisualCrossingWebServices/rest/services/timeline/"
					},
					"landing_container": {
						"type": "string",
						"defaultValue": "data-landing"
					},
					"locations_container": {
						"type": "string",
						"defaultValue": "metadata-logs"
					},
					"locations_directory": {
						"type": "string",
						"defaultValue": "locations"
					},
					"locations_file_name": {
						"type": "string",
						"defaultValue": "locations_list.csv"
					},
					"api_key_secret": {
						"type": "string",
						"defaultValue": "visualcrossing-key"
					},
					"landing_forecast_directory": {
						"type": "string",
						"defaultValue": "weather-forecast-landing"
					}
				},
				"variables": {
					"location": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_adls_csv')]",
				"[concat(variables('factoryId'), '/datasets/ds_restapi_json')]",
				"[concat(variables('factoryId'), '/datasets/ds_adls_json')]"
			]
		}
	]
}